<form *ngIf="!userLoginOn">
<div class="row m-3 row justify-content-md-evenly">
    <div class="card col-12 col-md-5 " >
      <img  src="assets/img//alquiler.jpg" class="card-img-top" alt="Cancha de Tennis">
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/alquilar-cancha">Alquilar Cancha</a>
          <!-- Otros enlaces de tu aplicación -->
        </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Mas informacion</a>
      </div>
    </div>
    <div class="card col-12 col-md-5 " >
      <img src="assets/img//clases.jpg" class="card-img-top"alt="profesor y alumno">
      <div class="card-body">
        <h5 class="card-title">CLASES</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Mas informacion</a>
      </div>
    </div>
    <div class="card col-12 col-md-5" >
      <img src="assets/img/desafios.jpg" class="card-img-top" alt="juego">
      <div class="card-body">
        <h5 class="card-title">DESAFIOS</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Mas informacion</a>
      </div>
    </div>
    <div class="card col-12 col-md-5 " >
      <img src="assets/img/torneos.jpg" class="card-img-top" alt="competencia">
      <div class="card-body">
        <h5 class="card-title">TORNEOS</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Mas informacion</a>
      </div>
    </div>
  </div>
</form>

  <p *ngIf="userLoginOn">No autorizado</p>