<header>
    <div class="presentacion">
      <img  class="imgheader" src= "assets/img/header.jpg" alt="pelotas de tenis">
        
      <div class="logo1">     
          <figure class="logo">
            <img src="https://http2.mlstatic.com/D_NQ_NP_611215-MLA45755860781_042021-O.webp" alt="">
            <h2 class="nombrelogo">
              ISPC 
            </h2>
            <h3 class="nombrelogo2">
              Tenis Curt
            </h3>
          </figure>
          <div class="login"><a href="formulario.html">
            <img src="https://previews.123rf.com/images/koblizeek/koblizeek2001/koblizeek200100050/138262629-usuario-miembro-de-perfil-de-icono-de-hombre-vector-de-símbolo-perconal-sobre-fondo-blanco-aislado-.jpg" alt="">
          </a>
          </div>
      </div>
        <div class="nav"> 
            <nav>
              <ul class="nav-links">
                <!--<li><a href="index.html">Inicio</a></li>-->
                <li routerLinkActive="active"><a routerLink="formulario">Inicio</a></li>
                <li routerLinkActive="active"><a href="alquiler.html">Alquiler</a></li>
                <li routerLinkActive="active"><a href="clases.html">Clases</a></li>
                <li routerLinkActive="active"><a href="desafios.html">Desafios</a></li>
                <li routerLinkActive="active"><a href="torneos.html">Torneos</a></li>
              </ul>
            
            </nav>  
        </div>
    </div>    
  </header>
