<header>
    <div class="presentacion">
      <img  class="imgheader" src= "assets/img/header.jpg" alt="pelotas de tenis">
        
      <div class="logo1">     
          <figure class="logo">
            <img src="https://http2.mlstatic.com/D_NQ_NP_611215-MLA45755860781_042021-O.webp" alt="">
            <h2 class="nombrelogo">
              ISPC 
            </h2>
            <h3 class="nombrelogo2">
              Tenis Curt
            </h3>
          </figure>
          <div class="login"><a href="formulario.html">
            <button *ngIf="!userLoginOn" type="button" class="btn btn-warning">Iniciar Sesion</button>
            <button *ngIf="userLoginOn" type="button" class="btn btn-warning">Cerrar Sesion</button>
          </a>
          </div>
      </div>
        <div class="nav"> 
            <nav>
              <ul class="nav-links">
                <!--<li><a href="index.html">Inicio</a></li>-->
                <li routerLinkActive="active"><a routerLink="/">Inicio</a></li>
                <li routerLinkActive="active"><a routerLink="/alquilar-cancha">Alquilar Canchas</a>                </li>
                <li routerLinkActive="active"><a routerLink="/formulario.html">Clases</a></li>
                <li routerLinkActive="active"><a routerLink="/desafios.html">Desafios</a></li>
                <li routerLinkActive="active"><a routerLink="/torneos.html">Torneos</a></li>
                <li routerLinkActive="active"><a routerLink="/iniciar-sesion">Iniciar Sesion</a></li>
              </ul>
            
            </nav>  
        </div>
    </div>    
  </header>
