<header class="jumbotron bg-cover text-white">
  <div class="container py-5 text-center">
    <h1 class="display-4 font-weight-bold">ISPC Tenis Curt</h1>
    <p class="font italic mb-0">El mejor lugar para el tenis en Córdoba</p>
  </div>
</header>

<!--
    <div class="presentacion">
      <img  class="imgheader" src= "assets/img/header.jpg" alt="pelotas de tenis">
        
      <div class="logo1">     
          <figure class="logo">
            <img src="https://http2.mlstatic.com/D_NQ_NP_611215-MLA45755860781_042021-O.webp" alt="">
            <h2 class="nombrelogo">
              ISPC 
            </h2>
            <h3 class="nombrelogo2">
              Tenis Curt
            </h3>
          </figure>
          <div class="login"><a routerLink="formulario">
            <img src="https://previews.123rf.com/images/koblizeek/koblizeek2001/koblizeek200100050/138262629-usuario-miembro-de-perfil-de-icono-de-hombre-vector-de-símbolo-perconal-sobre-fondo-blanco-aislado-.jpg" alt="">
          </a>
          </div>
      </div>
        <div class="nav"> 
            <nav>
              <ul class="nav-links">
                <li routerLinkActive="active"><a routerLink="">Inicio</a></li>
                <li routerLinkActive="active"><a routerLink="alquiler">Alquiler</a></li>
                <li routerLinkActive="active"><a routerLink="torneos">Torneos</a></li>
                <li routerLinkActive="active"><a routerLink="tienda">Tienda</a></li>
              </ul>
            
            </nav>  
        </div>
    </div>    -->
