<!-- alquilar-cancha.component.html -->
<div class="container">
  <h2>Alquilar Cancha</h2>
  <form (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="tipoCancha">Tipo de Cancha:</label>
      <select class="form-control" id="tipoCancha" [(ngModel)]="tipoCancha" name="tipoCancha">
        <option value="Césped">Césped</option>
        <option value="Cemento">Cemento</option>
        <option value="Polvo de ladrillo">Polvo de ladrillo</option>
      </select>
    </div>
    <div class="form-group">
      <label for="nombreUsuario">Nombre de Usuario:</label>
      <input type="text" class="form-control" id="nombreUsuario" [(ngModel)]="nombreUsuario" name="nombreUsuario">
    </div>
    <div class="form-group">
      <label for="emailUsuario">Email:</label>
      <input type="email" class="form-control" id="emailUsuario" [(ngModel)]="emailUsuario" name="emailUsuario">
    </div>
    <!-- Agrega más campos y opciones aquí según tus necesidades -->
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
