*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


body {
    background-color: #e6b325 !important;
}

/*Login*/
.login {
	position: absolute;
	top: 35px;
	right: 35px;
}
.login a{
	text-decoration: none;
	color: white;
}
.login img {
	border-radius: 100%;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0px;
	right: 35px;
	
}
/*Nav*/
.nav{
	display: flex;
	font-family: 'Poppins', sans-serif;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius:8px ;
	border:solid 1px rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(4px);
}
.nav-links a:hover {
	font-size: 22px;
	background-color: rgba(255, 255, 255, 0.3);
	border:solid 1px rgba(255, 255, 255, 0.5);
	border-radius: 2px;
}

@media screen and (max-width:650px) {
	.nav-links{
		
		
		flex-direction: column;
	}
	
}
.nav-links{
	display: flex;
	width: 30%;
	padding: 10px;
}

.nav-links li{
	list-style: none;
	margin: 20px;
}

.nav-links a{
	color: rgb(221, 216, 216);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 20px;
}
/*section home*/

.card {

	width: 100%;
	background-color: #e6b325 !important;
	border-style: none !important;


}
.btn{
background-color: #815f00 !important;
border-style: none!important;
}
.btn:hover{
background-color: #bf9742 !important;
}


#id{
	margin-top: 10px;
}
